{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- TODO -->
            <div>
                <label for="file1">File 1:</label>
                <input type="text" id="file1" name="file1">
            </div>
            <div>
                <label for="file2">File 2:</label>
                <input type="text" id="file2" name="file2">
            </div>

            <div>
                <input type="radio" name="algorithm" value="lines"> Lines<br>
                <input type="radio" name="algorithm" value="sentences"> Sentences<br>
                <input type="radio" name="algorithm" value="substrings"> Substrings
            </div>

            <div>
                <label for="length">Substring of length:</label>
                <input type="text" id="length" name="length">
            </div>

            <div class="button">
                <button type="submit">Compare</button>
            </div>
        </form>
    </div>

{% endblock %}
